In [1]:
import pandas as pd

In [31]:
df = pd.read_excel(r"/Users/ericmartinez/Documents/nbaStatsExample/nbaStatsExample2023-24.xlsx")

In [32]:
df

,Unnamed: 0,PLAYER,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,OREB%,DREB%,REB%,TOÂ RATIO,EFG%,TS%,USG%,PACE,PIE,POSS
0,0,Andre Drummond,CHI,30,43,20,23,15.9,110.5,112.8,...,18.9,33.0,25.6,13.8,54.5,56.0,20.2,98.01,15.4,1393
1,1,Austin Reaves,LAL,25,43,21,22,30.2,111.9,116.7,...,2.8,10.8,6.9,11.0,56.1,61.4,19.7,101.87,11.1,2758
2,2,Christian Braun,DEN,22,43,29,14,19.1,108.1,111.1,...,3.2,14.0,8.6,8.1,51.5,55.0,16.9,98.99,8.8,1688
3,3,Coby White,CHI,23,43,20,23,35.5,114.2,114.6,...,1.3,11.3,6.3,9.3,55.1,58.3,22.2,97.03,10.2,3083
4,4,Collin Sexton,UTA,25,43,22,21,23.8,117.1,117.3,...,3.4,7.2,5.3,9.1,55.2,62.0,26.4,102.51,12.5,2190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,523,Malcolm Cazalon,DET,22,1,0,1,2.6,183.3,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111.48,0.0,6
524,524,Markquis Nowell,TOR,24,1,0,1,3.5,128.6,62.5,...,50.0,0.0,28.6,0.0,0.0,53.2,22.2,102.37,35.7,7
525,525,Onuralp Bitim,CHI,24,1,0,1,3.2,71.4,116.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,98.01,0.0,7
526,526,Ron Harper Jr.,TOR,23,1,1,0,3.7,100.0,188.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,111.78,-4.5,8
527,527,Terquavion Smith,PHI,21,1,1,0,1.8,183.3,180.0,...,0.0,0.0,0.0,0.0,150.0,150.0,28.6,145.32,30.8,6

In [33]:
df.describe()

,Unnamed: 0,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,NETRTG,AST%,...,OREB%,DREB%,REB%,TOÂ RATIO,EFG%,TS%,USG%,PACE,PIE,POSS
count,528.00000,528.000000,528.000000,528.000000,528.000000,528.000000,528.000000,528.000000,528.000000,528.000000,...,528.000000,528.000000,528.000000,528.000000,528.00000,528.000000,528.000000,528.000000,528.000000,528.000000
mean,263.50000,25.791667,25.314394,12.600379,12.714015,18.388826,109.434470,112.304545,-2.871780,14.388447,...,4.679545,13.131629,8.869508,9.800758,51.35303,54.400189,17.647917,102.069583,8.764962,1191.488636
std,152.56474,4.340158,13.259475,8.711557,7.954784,10.412852,15.626019,13.000690,18.935598,10.800388,...,4.442651,8.257442,4.902344,6.623975,15.57955,14.914963,6.627119,4.501170,8.838769,945.016777
min,0.00000,19.000000,1.000000,0.000000,0.000000,0.700000,0.000000,9.100000,-150.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,92.480000,-17.600000,1.000000
25%,131.75000,23.000000,14.000000,5.000000,7.000000,9.200000,106.275000,109.000000,-7.925000,7.500000,...,1.800000,8.775000,5.600000,7.400000,48.17500,50.800000,13.200000,99.630000,6.000000,271.000000
50%,263.50000,25.000000,29.000000,12.000000,12.000000,17.550000,111.600000,113.350000,-0.900000,11.800000,...,3.400000,11.800000,7.800000,9.450000,53.40000,56.600000,16.800000,101.190000,8.500000,1075.500000
75%,395.25000,28.000000,38.000000,20.000000,18.000000,27.425000,116.525000,116.700000,5.125000,19.200000,...,6.525000,16.700000,11.325000,11.700000,58.02500,60.900000,21.025000,103.562500,11.300000,1994.000000
max,527.00000,39.000000,43.000000,32.000000,38.000000,37.500000,183.300000,188.900000,91.100000,100.000000,...,50.000000,100.000000,36.400000,100.000000,150.00000,150.000000,66.700000,145.320000,157.100000,3145.000000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  528 non-null    int64
 1   PLAYER      528 non-null    object
 2   TEAM        528 non-null    object
 3   AGE         528 non-null    int64
 4   GP          528 non-null    int64
 5   W           528 non-null    int64
 6   L           528 non-null    int64
 7   MIN         528 non-null    float64
 8   OFFRTG      528 non-null    float64
 9   DEFRTG      528 non-null    float64
 10  NETRTG      528 non-null    float64
 11  AST%        528 non-null    float64
 12  AST/TO      528 non-null    float64
 13  ASTÂ RATIO   528 non-null    float64
 14  OREB%       528 non-null    float64
 15  DREB%       528 non-null    float64
 16  REB%        528 non-null    float64
 17  TOÂ RATIO    528 non-null    float64
 18  EFG%        528 non-null    float64
 19  TS%         528 non-null    float64
 20  USG%        528 non-null    float64
 21  PACE        528 non-null    float64
 22  PIE         528 non-null    float64
 23  POSS        528 non-null    int64
dtypes: float64(16), int64(6), object(2)
memory usage: 99.1+ KB

In [36]:
HardenDF = df[df['PLAYER'] == "James Harden"]

In [37]:
HardenDF

,Unnamed: 0,PLAYER,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,OREB%,DREB%,REB%,TOÂ RATIO,EFG%,TS%,USG%,PACE,PIE,POSS
171,171,James Harden,LAC,34,35,23,12,34.0,122.0,113.2,...,1.0,12.3,6.9,11.0,57.5,64.1,20.1,97.34,13.4,2413

In [38]:
HardenDF = HardenDF.drop(HardenDF.columns[[0]], axis=1)

In [41]:
HardenDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 171 to 171
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PLAYER     1 non-null      object
 1   TEAM       1 non-null      object
 2   AGE        1 non-null      int64
 3   GP         1 non-null      int64
 4   W          1 non-null      int64
 5   L          1 non-null      int64
 6   MIN        1 non-null      float64
 7   OFFRTG     1 non-null      float64
 8   DEFRTG     1 non-null      float64
 9   NETRTG     1 non-null      float64
 10  AST%       1 non-null      float64
 11  AST/TO     1 non-null      float64
 12  ASTÂ RATIO  1 non-null      float64
 13  OREB%      1 non-null      float64
 14  DREB%      1 non-null      float64
 15  REB%       1 non-null      float64
 16  TOÂ RATIO   1 non-null      float64
 17  EFG%       1 non-null      float64
 18  TS%        1 non-null      float64
 19  USG%       1 non-null      float64
 20  PACE       1 non-null      float64
 21  PIE        1 non-null      float64
 22  POSS       1 non-null      int64
dtypes: float64(16), int64(5), object(2)
memory usage: 192.0+ bytes